* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --border-button-colors: #82d326;
}

/* body {
    background-color: #1c1cda;
} */

h1 {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 30px;
}

input {
    width: 60%;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--border-button-colors);
    border-left: none;
    outline: none;
    text-align: center;
}

button {
    background-color: var(--border-button-colors);
    color: rgb(180, 15, 15);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 90px;
}

#palindrome-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 6px #002ead;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}

#result {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    #palindrome-container {
        width: 80%;
        margin-left: 8.5%;
        margin-right: auto;
        margin-top: 30%;
    }}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --border-button-colors: #5a01a7;
}

body {
    background-color: #0a0a23;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 30px;
}

input {
    width: 60%;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--border-button-colors);
    border-left: none;
    outline: none;
    text-align: center;
}

button {
    background-color: var(--border-button-colors);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 90px;
}

#palindrome-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 6px #002ead;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}

#result {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}


@media screen and (max-width: 500px) {
    #palindrome-container {
        width: 80%;
        margin-left: 8.5%;
        margin-right: auto;
        margin-top: 30%;
    }

    #palindrome-definition {
        width: 80%;
        margin-right: 11.5%;
    }
}
